extends ../../layout/default.pug
include ../../mixins/alert.pug
block main 
  
  h1(class="mb-4") Chinh sua san pham 
  +alert-error(5000)
  form(action=`${prefixAdmin}/products/edit/${item._id}?_method=patch`
  id="form-edit-product"
  method="post"
  enctype="multipart/form-data")
    div(class="form-group")
      label(for="title") Tieu de
      input(type="text"
          name="title"
          id="title"
          class="form-control"
          value=item.title
          )
    div(class="form-group")
      label(for="desc") Mo ta
      textarea( class="form-control" 
      name="description" id="desc" rows=5
      )=item.description
    div(class="form-group")
      label(for="price") Gia
      input(type="number" min=0 class="form-control" 
      name="price" id="price" value=item.price )      
    div(class="form-group")
      label(for="discount") % Giam gia
      input(type="number" min=0 class="form-control" 
      name="discountPercentage" id="discount"  
      value=item.discountPercentage )   
    div(class="form-group")
      label(for="stock") So luong
      input(type="number" min=0 class="form-control" 
      name="stock" id="stock"  
      value=item.stock )
    div(class="form-group upload-img"
    upload-image)
      label(for="thumbnail") Anh
      input(type="file"
          name="thumbnail"
          id="thumbnail"
          class="form-control-file"
          accept="image/*"
          upload-image-input
          )
      img(src=value=item.thumbnail, alt="",
      upload-image-preview class="image-preview")
    div(class="form-group")
      label(for="position") Vi tri
      input(type="number" class="form-control" 
      name="position" id="position"  min="1"
      value=item.position)
    div(class="form-group form-check form-check-inline")
      input(type="radio" name="status" id="active" 
      value="active"
      checked=(item.status === 'active') )
      label(for="ative" class="form-check-label") Hoat dong
    div(class="form-group form-check form-check-inline")
      input(type="radio" name="status" id="inactive" 
      value="inactive"
      checked=(item.status === 'inactive') )
      label(for="inactive") Ngung hoat dong
    div(class="form-group") 
      button(type="submit"
      class=" btn btn-primary") Thay doi
  script(src="/admin/js/products.js") 
  script(src="/admin/js/script.js") 